body {
  background: #E1C3C3;
  position: relative;
}
main{
  max-width: 940px;
  width:85%;
  margin: 4vw auto;
}
*, *:before, *:after {
  box-sizing: border-box;
}
.grid-container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: 185px;
  grid-auto-rows: 165px;
  grid-auto-columns: 100px;
  grid-auto-flow: dense;
}
.r1 {
background-color: black;
}
.bl{
  grid-column: 2/4;
  background-color: white;
}
.bl1{
  background-color: grey;
}
.w1{
  background-color: grey;
}
.r3 {
background-color: grey;
grid-column: border: 10;
}
.g1 {
background-color: black;
}
.y2 {
background-color: white;
}
.w2 > img {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}
.bl1 > img {
  width: 30%;
  max-height: 50%;
}
.y1 > img {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}
.b1 > img {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}
.r4 > img {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}

.b2 > img {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}
